
#main-container {
    background-color:rgba(128,128,128,0.8);
}
.container {
    margin: 100px;
}
h1 {
    color: crimson;
    font-size: 50px;
}
h1:hover {
    color: seagreen;
}
p {
    font-size: 18px;
    color: purple;    
}
